<div class="row">
  <!-- FORM -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body p-4">
        <!-- FORM -->
        <form #paymentForm="ngForm" (ngSubmit)="addPayment(paymentForm)">
          <!-- THE Id's Payment -->
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="paymentService.selectedPayment._id">
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="paymentService.selectedPayment.name"
              placeholder="Enter Name" class="form-control">
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <div class="input-field col-s12">
              <input type="text" name="lastName" #name="ngModel" [(ngModel)]="paymentService.selectedPayment.lastName"
                placeholder="Enter Last Name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" #name="ngModel" [(ngModel)]="paymentService.selectedPayment.description"
              placeholder="Enter a Description" class="form-control">
          </div>
          <div class="form-group">
            <label>Service Hour</label>
            <div class="input-field col-s12">
              <input type="text" name="serviceHour" #name="ngModel" [(ngModel)]="paymentService.selectedPayment.serviceHour"
                value="" placeholder="Enter Service Hour" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label>Date</label>
            <div class="input-field col-s12">
              <input type="text" name="date" #name="ngModel" [(ngModel)]="paymentService.selectedPayment.date"
                value="" placeholder="Enter Date dd-mm-yyyy" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label>Day Amount Uf</label>
            <div class="input-field col-s12">
              <input type="text" name="dayAmountUf" #name="ngModel" [(ngModel)]="paymentService.selectedPayment.dayAmountUf"
                class="form-control" readonly>
                <a (click)="getUfserver(paymentForm)" class="btn btn-primary btn-sm">
                  <span class="material-icons-outlined">
                    Uf Segun Fecha
                    </span>
                </a>
            </div>
          </div>
          <div class="form-group">
            <label>Amount Of Service</label>
            <div class="input-field col-s12">
              <input type="text" name="amountOfService" #name="ngModel" [(ngModel)]="paymentService.selectedPayment.amountOfService"
                 class="form-control" readonly>
                 <a (click)="calcular(paymentForm)" class="btn btn-primary btn-sm">
                  <span class="material-icons-outlined">
                    calcular
                    </span>
                </a>
            </div>
          </div>
          <a (click)="resetForm(paymentForm)" class="btn btn-primary col-xs-2 margin-right">
            <i class="material-icons">clear</i>
          </a>
          <a (click)="addPayment(paymentForm)" class="btn btn-success col-xs-2 margin-left" style="float: right;" >
            <i class="material-icons">save</i>
          </a>
      </form>
    </div>
  </div>
</div>

<!-- TABLE -->
<div class="col-md-8">
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>L.Name</th>
      <th>Description</th>
      <th>Hours</th>
      <th>Amount</th>
      <th>Date</th>
      <th>UF Amount</th>
      <th>Edit - Delete</th>
    </thead>
    <tbody>
      <tr *ngFor="let payment of paymentService.payments">
        <td>{{ payment.name }}</td>
        <td>{{ payment.lastName }}</td>
        <td>{{ payment.description }}</td>
        <td>{{ payment.serviceHour }}</td>
        <td>{{ payment.amountOfService }}</td>
        <td>{{ payment.date }}</td>
        <td>{{ payment.dayAmountUf }}</td>
        <td>
          <a (click)="editPayment(payment)" class="btn btn-secondary btn-sm">
            <i class="material-icons">edit</i>
          </a>
          <a (click)="deletePayment(payment._id, paymentForm)" class="btn btn-danger btn-sm">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
